<p id="notice"><%= notice %></p>

<p>
  <strong>Date from:</strong>
  <%= @reservation.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @reservation.date_to %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
